<nav class="flex justify-between px-20 py-10 items-center shadow">
		<div class="flex self-center bg-white w-24">
			<h1 class="text-7xl text-tituloNavbar sirac-tittle">SIRAc</h1>
		</div>
		
		<div class="relative inset-x-20">
			<input class="ml-2 w-80 line-none bg-gray-200 mx-20 rounded-lg p-1" type="text" name="search" id="search" placeholder="  Buscar eventos/ congresos">
			<div class="absolute inset-y-0 right-24 flex items-center pl-4 pointer-events-none">
				<svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
			</div>
			<!--<div>
				<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
				</svg>
			</div>-->
			
		</div>

		<div class="self-center w-96 space-x-5">
				<button class="bg-crearCongreso rounded p-1 text-white w-1/2">Crea tu propio Congreso</button>
				<button class="bg-inicioSesion rounded p-1 text-white w-2/5"><a href="#" routerLink="/login">Iniciar Sesión</a></button>
	<!--<ul class="flex space-x-10">
				<li class="bg-red-700 rounded text-white"> Crea tu propio Congreso </li>
				<li class="bg-amber-600 rounded text-white"> Iniciar Sesión </li>
			</ul>-->
		</div>
  </nav>

  

  <!--
	Botón de descarga
	<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
	<svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
	<span>Download</span>
  </button>-->